body {
    /*background-color: rgb(204, 242, 247);*/
    background-image: url("background.jpg");
  }
h2 {
    color: rgb(5, 5, 48);
  }
h1 {
    color: rgb(52, 52, 59);
    max-width: 75%;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
p {
    color: rgb(52, 52, 59);
    max-width: 75%;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}
a {
    color: rgb(52, 52, 59);
    max-width: 75%;
    margin: auto;
    padding: 20px;
    text-align: center;
}
img {
    display: block;
    padding: 10px;
    max-width: 90%;
    height: auto;
    margin: auto;

  }
.leftDiv {
  float: left;
  width: 40%;
  height: 150px;
  align-items: center;
}
.rightDiv {
  float: right;
  width: 54%;
  height: 540px;
  align-items: center;
}
div {
  padding: 1%;
  color: rgb(52, 52, 59);
  background-color: white;
  border: solid black;
  margin: 5px;
}
